<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Font/fontawesome-free-5.15.2-web/css/all.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/CSS/web.css")" type="text/css" />
    <link rel="stylesheet" href="~/CSS/Admin.css" />
    <link rel="stylesheet" href="~/CSS/AdminNav.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  @Html.IsActive("QLVe", "QLHome")">
                    <a class="nav-link" href="/QLHome/QLVe"><i class="fas fa-ticket-alt"></i> Vé</a>
                </li>
                @if (Session["Id_VT_Admin"].Equals("admin"))
                {
                    <li class="nav-item @Html.IsActive("QLNV", "QLHome") @Html.IsActive("AddNV", "QLHome") @Html.IsActive("EditNV", "QLHome")">
                        <a class="nav-link" href="/QLHome/QLNV"><i class="fas fa-user"></i> Nhân viên</a>
                    </li>
                    <li class="nav-item @Html.IsActive("QLPhim", "QLPhim") @Html.IsActive("AddPhim", "QLPhim") @Html.IsActive("EditPhim", "QLPhim")">
                        <a class="nav-link" href="/QLPhim/QLPhim"><i class="fas fa-film"></i> Phim</a>
                    </li>
                    <li class="nav-item @Html.IsActive("QLSuatChieu", "QLHome") @Html.IsActive("EditSuatChieu", "QLHome") @Html.IsActive("AddSuatChieu", "QLHome")">
                        <a class="nav-link" href="/QLHome/QLSuatChieu"><i class="far fa-clock"></i> Suất chiếu</a>
                    </li>
                    <li class="nav-item @Html.IsActive("QLPhongChieu", "QLHome") @Html.IsActive("AddPhongChieu", "QLHome") @Html.IsActive("EditPhongChieu", "QLHome")">
                        <a class="nav-link" href="/QLHome/QLPhongChieu"><i class="fas fa-door-closed"></i> Phòng chiếu </a>
                    </li>
                    <li class="nav-item @Html.IsActive("QLKH", "QLHome") @Html.IsActive("AddKH", "QLHome") @Html.IsActive("EditKH", "QLHome")">
                        <a class="nav-link" href="/QLHome/QLKH"><i class="fas fa-users"></i> Khách hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-plus"></i> Combo</a>
                    </li>
                    <li class="nav-item  @Html.IsActive("QLDoAn", "QLDoAn")">
                        <a class="nav-link" href="/QLDoAn/QLDoAn"><i class="fas fa-utensils"></i> Đồ ăn</a>
                    </li>

                    <li class="nav-item @Html.IsActive("Index", "QLSetting")">
                        <a class="nav-link" href="/QLSetting"><i class="fas fa-cog"></i> Settings</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="bg-dark welcomeDiv">
        @if (Session["UserName_Admin"] != null)
        {
            <span class="welcome btn btn-dark">
                <a href="/QLHome" id="PageTop">
                    <i class="fas fa-home"></i>
                    Xin chào, @Session["UserName_Admin"]
                </a>
            </span>
            <span class="welcome" style="float:right;">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#LogOutConfirm">
                    <i class="fas fa-sign-out-alt"></i>
                    Đăng Xuất
                </button>
            </span>
        }
    </div>
    <div class="bodyContent">
        @RenderBody()
    </div>

    <!-- Modal -->
    <div class="modal fade" id="LogOutConfirm" tabindex="-1" role="dialog" aria-labelledby="LogOutConfirm" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn đăng xuất?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <a class="btn btn-danger" href="/QLHome/LogOut" id="PageTop">
                        Đăng Xuất
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>