@model QLBanVePhim.Models.phim
@{
    ViewBag.Title = "AddPhim";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}


<style>
    .col-sm {
        border: 1px solid black;
        padding: 5px;
    }

    label {
        color: #000020;
        font-size: 20px;
        font-family: serif;
        padding-left: 10px
    }

    td {
        padding-left: 5px;
    }

    .input1 {
        width: 100%;
        padding-left: 10px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="right" style="">
    <div class="card">
        <div class="card-body" style="height:auto">
            <center> <h3>Thêm phim</h3></center>
            <div class="left-in" style="float:left;">
                <div class="row py-4">
                    <div class="col-lg-8 mx-auto">
                        <div class="image-area mt-4">
                            <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td width="150px">@Html.LabelFor(model => model.ten)</td>
                        <td width="70%">@Html.EditorFor(model => model.ten, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px; padding-bottom: 10px;">@Html.LabelFor(model => model.thoi_luong)</td>
                        <td>@Html.EditorFor(model => model.thoi_luong, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.gioi_han_tuoi)</td>
                        <td>@Html.EditorFor(model => model.gioi_han_tuoi, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>

                </table>
            </div>
            <div class="right-in" style="float:left;padding-top:20px">
                <table>
                    <tr>
                        <td style=" padding-bottom: 10px;" width="150px">@Html.LabelFor(model => model.dien_vien)</td>
                        <td width="70%">@Html.EditorFor(model => model.dien_vien, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style=" padding-bottom: 10px;">@Html.LabelFor(model => model.quoc_gia)</td>
                        <td>@Html.EditorFor(model => model.quoc_gia, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style=" padding-bottom: 10px;">@Html.LabelFor(model => model.ngay_cong_chieu)</td>
                        <td>@Html.EditorFor(model => model.ngay_cong_chieu, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style=" padding-bottom: 10px;">@Html.LabelFor(model => model.ngon_ngu)</td>
                        <td>@Html.EditorFor(model => model.ngon_ngu, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style=" padding-bottom: 10px;">@Html.LabelFor(model => model.trang_thai)</td>
                        <td>@Html.EditorFor(model => model.trang_thai, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style=" padding-bottom: 10px;">@Html.LabelFor(model => model.tom_tat)</td>
                        <td>@Html.EditorFor(model => model.tom_tat, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style=" padding-bottom: 10px;">@Html.LabelFor(model => model.loai_phim_id)</td>
                        <td>@Html.EditorFor(model => model.loai_phim_id, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <td style=" padding-bottom: 10px;">@Html.LabelFor(model => model.id)</td>
                        <td>@Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>

                </table>



            </div>

            <center>
                <label>Mô tả</label>
                <textarea id="w3review" name="w3review" rows="4" cols="100"></textarea>
            </center>
            <div class="form-group">
                <center>
                    <input type="submit" value="Thêm phim">
                </center>
            </div>
        </div>
    </div>
   
   
</div>
}

