@model IEnumerable<QLBanVePhim.Models.ve_ban>

@{
    ViewBag.Title = "Chi Tiết Lô Vé";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}

<style>
    #xacNhan {
        justify-content: center;
        align-items: center;
        text-align: center;
        color: aliceblue;
        width: 100%;
        margin: auto;
        display: none;
        visibility: hidden;
    }

    #ve {
        color: black;
        width: 700px;
        margin: auto;
    }

    @@media print {
        body * {
            visibility: hidden;
        }

        #xacNhan {
            display: block;
            visibility: visible;
        }

            #xacNhan * {
                display: inline-block;
                visibility: visible;
            }

            #xacNhan .row {
                display: block;
                width: 100% !important;
            }

                #xacNhan .row .col-6 {
                    display: inline;
                }

        #xacNhan {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>

<div class="container bodyContainer">
    <div class="card previewCardContainer">
        <div class="card-body previewCard">
            <div class="container">
                <center>
                    <h4 class="card-title">
                        <i class="fas fa-ticket-alt"></i> @ViewBag.BatchId
                    </h4>
                </center>

                <div class="container">
                    <div class="row" style="margin-top:15px;">
                        <div class="col-4">
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ve_dat_chi_tiet.ve_dat.khach_hang.ho_ten):</b>
                                @Html.DisplayFor(model => model.FirstOrDefault().ve_dat_chi_tiet.ve_dat.khach_hang.ho_ten)
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ve_dat_chi_tiet.ve_dat.khach_hang.so_dien_thoai):</b>
                                @Html.DisplayFor(model => model.FirstOrDefault().ve_dat_chi_tiet.ve_dat.khach_hang.so_dien_thoai)
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ve_dat_chi_tiet.ve_dat.khach_hang.so_cmnd):</b>
                                @Html.DisplayFor(model => model.FirstOrDefault().ve_dat_chi_tiet.ve_dat.khach_hang.so_cmnd)
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <p><i class="fas fa-film"></i> <b>Phim:</b> @Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.phim.ten) (@Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.phim.gioi_han_tuoi)+)</p>
                            <p><i class="fas fa-clock"></i> <b>Suất chiếu:</b> @Html.DisplayFor(model => model.FirstOrDefault().suat_chieu_id)</p>
                            <p><i class="fas fa-calendar-day"></i> <b>Ngày chiếu:</b> @Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.ngay_chieu) </p>
                            <p><i class="fas fa-clock"></i> <b>Giờ chiếu:</b> @Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.gio_bat_dau) - @Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.gio_ket_thuc) (@Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.phim.thoi_luong) Phút)</p>
                            <p><i class="fas fa-door-closed"></i> <b>Phòng chiếu:</b> @Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.phong_chieu.id)</p>
                            <p><i class="fas fa-film"></i> <b>Định dạng phim:</b> @Html.DisplayFor(model => model.FirstOrDefault().suat_chieu.dinh_dang_phim.ten)</p>
                            <hr />
                            <center>
                                <p><b><i class="fas fa-ticket-alt"></i> Danh Sách Vé</b></p>
                                @if (Model.Count() == 0)
                                {
                                    <p>Records not found</p>
                                }
                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        <p>
                                            <button class="btn btn-outline-dark" onclick="window.open('/QLHome/DetailsVe/@Html.DisplayFor(modelItem => item.id)','_blank')">
                                                <i class="fas fa-ticket-alt"></i> @Html.DisplayFor(modelItem => item.id) (Ghế @Html.DisplayFor(modelItem => item.ghe_ngoi.loai_ghe.ten_ghe))
                                            </button>
                                        </p>
                                    }
                                }
                            </center>
                        </div>
                        <div class="col">
                            <div style="float:right;">
                                @if (Model.Count() == 0)
                                {
                                    <p>Records not found</p>
                                }
                                else
                                {
                                    int tongTien = 0;
                                    foreach (var item in Model)
                                    {
                                        <p class="card-text">
                                            <i class="fas fa-chevron-right"></i> <b>Giá vé @Html.DisplayFor(modelItem => item.id):</b> <font color="#00800">+@Html.DisplayFor(modelItem => item.tong__tien) VND</font>
                                        </p>
                                        tongTien += int.Parse(@Html.DisplayFor(modelItem => item.tong__tien).ToString());
                                    }
                                    <i class="fas fa-dollar-sign"></i> <b>Thành Tiền:</b> <font color="#00800">@tongTien VND</font>
                                    <br /><br />
                                    <center>
                                        <p>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#soldModal">
                                                Bán Lô Vé
                                            </button>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">
                                                Hủy Lô Vé
                                            </button>
                                        </p>
                                    </center>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="soldModal" tabindex="-1" role="dialog" aria-labelledby="soldModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="soldModal">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bán lô vé này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <form onsubmit="window.print()" action="/QLHome/SoldBatchVe/@ViewBag.BatchId" method="post">
                    <input type="submit" class="btn btn-danger" value="Có" />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModal">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Hủy lô vé này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <form action="/QLHome/CancelBatchVe/@ViewBag.BatchId" method="post">
                    <input type="submit" class="btn btn-danger" value="Có" />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="xacNhan">
    @if (Model.Count() == 0)
    { }
    else
    {
        foreach (var item in Model)
        {
            <div class="card" id="ve" style="min-height:1px !important">
                <div class="card-header">
                    <h1 style="font-family:'Berlin Sans FB'">CINESTAR</h1>
                    <p>VÉ ĐẶT</p>
                </div>
                <div class="card-body">
                    <h2>@Html.DisplayFor(modelItem => item.id)</h2>
                    <div class="container-fluid">
                        <div class="row" style="font-size:25px;font-weight:bold;">
                            <div class="col-6">
                                MÃ KHÁCH HÀNG:
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.ve_dat_chi_tiet.ve_dat.khach_hang_id)
                            </div>
                        </div>
                        <div class="row" style="font-size:25px;font-weight:bold;">
                            <div class="col-6">
                                PHIM:
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.suat_chieu.phim.ten)
                            </div>
                        </div>
                        <div class="row" style="font-size:25px;font-weight:bold;">
                            <div class="col-6">
                                THỜI LƯỢNG:
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.suat_chieu.phim.thoi_luong) PHÚT
                            </div>
                        </div>
                        <div class="row" style="font-size:25px;font-weight:bold;">
                            <div class="col-6">
                                THỜI GIAN BẮT ĐẦU:
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.suat_chieu.gio_bat_dau)
                            </div>
                        </div>
                        <div class="row" style="font-size:25px;font-weight:bold;">
                            <div class="col-6">
                                NGÀY CHIẾU:
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(model => item.suat_chieu.ngay_chieu)
                            </div>
                        </div>
                        <div class="row" style="font-size:25px;font-weight:bold;">
                            <div class="col-6">
                                TỔNG TIỀN:
                            </div>
                            <div class="col-6">
                                @Html.DisplayFor(modelItem => item.tong__tien) VND
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    Có thắc mắc? Vui lòng gọi số <br />
                    098xxxxxxxxx
                </div>
            </div>
        }
    }
</div>