@model QLBanVePhim.Models.khach_hang

@{
    ViewBag.Title = "DetailsKH";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}

<div class="container bodyContainer">
    <div class="card previewCardContainer">
        <div class="card-body previewCard">
            <div class="container">
                <center>
                    <h4 class="card-title">
                        @if (Model.gioi_tinh == true)
                        {<text>Anh: </text>}
                    else
                    {<text>Chị: </text>}
                        @Html.DisplayFor(model => model.ho_ten)
                    </h4>
                </center>
                <p class="card-text">@Html.DisplayNameFor(model => model.so_cmnd): @Html.DisplayFor(model => model.so_cmnd)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.so_dien_thoai): @Html.DisplayFor(model => model.so_dien_thoai)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.email): @Html.DisplayFor(model => model.email)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.dia_chi): @Html.DisplayFor(model => model.dia_chi)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.ngay_dang_ky): @Html.DisplayFor(model => model.ngay_dang_ky)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.ngay_sinh): @Html.DisplayFor(model => model.ngay_sinh)</p>
            </div>
        </div>
    </div>
</div>