@model QLBanVePhim.Models.suat_chieu

@{
    ViewBag.Title = "EditSuatChieu";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}
<script src="~/Scripts/admin/add.js"></script>
@using (Html.BeginForm())
{
    <div class="container bodyContainer">
        <div class="row">
            <div class="col-sm">
                <p><center>Sửa Suất Chiếu</center></p> <hr />
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.id, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control", @onInput = "onInput_SuatChieu('id')" } })
                            @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.gio_bat_dau, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.gio_bat_dau, new { htmlAttributes = new { @class = "form-control", @onInput = "onInput_SuatChieu('gio')" } })
                            @Html.ValidationMessageFor(model => model.gio_bat_dau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.gio_ket_thuc, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.gio_ket_thuc, new { htmlAttributes = new { @class = "form-control", @onInput = "onInput_SuatChieu('gio')" } })
                            @Html.ValidationMessageFor(model => model.gio_ket_thuc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ngay_chieu, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.ngay_chieu, new { htmlAttributes = new { @class = "form-control", @onInput = "onInput_SuatChieu('ngay')" } })
                            @Html.ValidationMessageFor(model => model.ngay_chieu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.phim_id, "phim_id", htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.phim_id, ViewBag.PhimList as SelectList, "Phim", new { @class = "form-control", @onchange = "onInput_SuatChieu('phim')" })
                        </div>
                        <div>
                            @Html.DropDownListFor(model => model.phim_id, ViewBag.PhimImgList as SelectList, "", new { @class = "form-control", id = "image", hidden = "true" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.dinh_danh_phim_id, "dinh_danh_phim_id", htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.dinh_danh_phim_id, ViewBag.DDPhimList as SelectList, "Định Dạng Phim", new { @class = "form-control", @onchange = "onInput_SuatChieu('dinhdang')" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.phong_chieu_id, "phong_chieu_id", htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownListFor(model => model.phong_chieu_id, ViewBag.PhongChieuList as SelectList, "Phòng Chiếu", new { @class = "form-control", @onchange = "onInput_SuatChieu('phong')" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <p><center>Preview</center></p> <hr />
                <center>
                    <div class="card previewCardContainer">
                        <div class="card-body previewCard">
                            <img id="previews_image" onerror="errorImg()" style="max-height:250px; max-width:300px; width:auto;" src=@Html.DisplayFor(model => model.phim.hinh_anh) />
                            <h4 class="card-title" id="previews_phim">@Html.DisplayFor(model => model.phim.ten)</h4>
                            <p class="card-subtitle text-muted" id="previews_time">@Html.DisplayFor(model => model.gio_bat_dau) - @Html.DisplayFor(model => model.gio_ket_thuc)</p>
                            <br />
                            <p class="card-text" id="previews_date">Ngày chiếu: @Html.DisplayFor(model => model.ngay_chieu)</p>
                            <p class="card-text" id="previews_id">ID Suất Chiếu: @Html.DisplayFor(model => model.id)</p>
                            <p class="card-text" id="previews_ddphim">Định dạng phim: @Html.DisplayFor(model => model.dinh_dang_phim.ten)</p>
                            <p class="card-text" id="previews_pc">ID Phòng Chiếu: @Html.DisplayFor(model => model.phong_chieu.id)</p>
                        </div>
                        <div class="form-group" style="padding-top:10px">
                            <center>
                                <input type="submit" value="Update" class="btn btn-primary" />
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                    Delete
                                </button>
                            </center>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <form action="/QLHome/DeleteSuatChieu/@Html.DisplayFor(model => model.id)" method="post">
                    <input type="submit" class="btn btn-danger" value="Xóa" />
                </form>
            </div>
        </div>
    </div>
</div>