@model IEnumerable<QLBanVePhim.Models.khach_hang>
@{
    ViewBag.Title = "QLKH";
    Layout = "~/Views/QLHome/ViewQLHome.cshtml";
}


<div class="left" style="width:25%;font-size:1.5rem">
    <div class="card" style="height:600px; margin-right:5px;">
        <div class="card-body">
            <Center><p>Tra cứu khách hàng</p></Center>
            <div class="form-check">
                <input class="form-check-input" style="margin-top:13px" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Mã khách hàng
                </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">ID</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" style="margin-top:13px" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Tên khách hàng
                </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">Tên</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right" style="">
    <div class="card">
        <div class="card-body" style="height:600px">
            <div class="container"> </div>



            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ho_ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.so_cmnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.mat_khau)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.so_dien_thoai)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dia_chi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ngay_dang_ky)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ngay_sinh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.gioi_tinh)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ho_ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.so_cmnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mat_khau)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.so_dien_thoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dia_chi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngay_dang_ky)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ngay_sinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gioi_tinh)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

</div>