@model IEnumerable<QLBanVePhim.Models.khach_hang>
@{
    ViewBag.Title = "QL Khách Hàng";
    Layout = "~/Views/QLHome/ViewQLHome.cshtml";
}


<div class="left" style="width:25%;font-size:1.5rem">
    <div class="card" style="height:600px; margin-right:5px;">
        <div class="card-body">
            <Center><p>Tra cứu khách hàng</p></Center>
            <div class="form-check">
                <input class="form-check-input" style="margin-top:13px" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Số điện thoại
                </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">SDT</span>
                    <input type="text" class="form-control" aria-label="Phone Number">
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" style="margin-top:13px" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Tên khách hàng
                </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">Tên</span>
                    <input type="text" class="form-control" aria-label="Name">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right" style="">
    <div class="card">
        <div class="card-body" style="height:600px">
            <div class="container">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ho_ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.so_cmnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.so_dien_thoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.gioi_tinh)
                        </th>
                        <th></th>
                    </tr>

                    @if (Model.Count() == 0)
                    {
                        <tr> <td colspan="4"> Records not found </td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ho_ten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.so_cmnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.so_dien_thoai)
                                </td>
                                <td>
                                    @((bool)item.gioi_tinh ? "Nam" : "Nữ")
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                </td>
                            </tr>
                        }
                    }

                    </table>
            </div>
        </div>
    </div>
</div>