@model IEnumerable<QLBanVePhim.Models.nguoi_dung>
@{
    ViewBag.Title = "QL Nhân Viên";
    Layout = "~/Views/QLHome/ViewQLHome.cshtml";
}
<div class="left" style="width:25%;font-size:1.5rem">
    <div class="card" style="height:600px;margin-right:5px;">
        <div class="card-body">
            <Center><p>Tra cứu nhân viên</p></Center>
            <div class="form-check">
                <input class="form-check-input" style="margin-top:13px" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Mã nhân viên
                </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">ID</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" style="margin-top:13px" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Tên nhân viên
                </label>
                <div class="input-group mb-3">
                    <span class="input-group-text">Tên</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
            </div>
            <br>
            <Center><p>Tools</p></Center>
            <div>
                <center>
                    <input type="button" onclick="location.href='/QLHome/AddNV';" value="Thêm nhân viên" />
                </center>
            </div>
        </div>
    </div>
</div>
<style>
    .col-sm {
        border: 1px solid black;
        padding: 5px;
    }
</style>
<div class="right" style="">
    <div class="card">
        <div class="card-body" style="height:600px">
            <div class="container">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ho_ten)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.so_cmnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.so_dien_thoai)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.gioi_tinh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vai_tro.ten)
                        </th>
                        <th></th>
                    </tr>
                    @if (Model.Count() == 0) { <tr> <td colspan = "5"> Records not found </td></tr>
                    } else {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ho_ten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.so_cmnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.so_dien_thoai)
                            </td>
                            <td>
                                @((bool)item.gioi_tinh ? "Nam":"Nữ")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vai_tro.ten)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                    }

                </table>
            </div>
        </div>
    </div>
</div>
