@model IEnumerable<QLBanVePhim.Models.nguoi_dung>
@{
    ViewBag.Title = "Quản lý Nhân Viên";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}

<div class="settingLeft">
    <div class="card">
        <div class="card-body settingCardBody stickyCard">
            <center><h4><i class="fas fa-search" style="margin-right:10px"></i>Search</h4></center>
            @using (Html.BeginForm())
            {
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.id)
                    <input class="form-control" type="text" name="idNV">
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.ho_ten)
                    <input class="form-control" type="text" name="tenNV">
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.so_dien_thoai)
                    <input class="form-control" type="text" name="sdtNV">
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.so_cmnd)
                    <input class="form-control" type="text" name="cmndNV">
                </div>
                <div class="formSearchElement">
                    <center>
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search" style="margin-right:10px"></i>Search</button>
                        <button class="btn btn-info" type="reset"><i class="fas fa-undo" style="margin-right:10px"></i>Reset</button>
                    </center>
                </div>

            }
            <hr />
            <center><h4><i class="fas fa-tools" style="margin-right:10px"></i>Tools</h4></center>
            <center>
                <a href="/QLHome/AddNV" class="btn btn-success"><i class="fas fa-plus" style="margin-right:10px"></i>Thêm Nhân Viên</a>
            </center>
        </div>
    </div>
</div>
<div class="settingRight">
    <div class="card">
        <div class="card-body settingCardBody">
            <div class="container">
                <table class="table table-hover shadow p-3 mb-5 bg-white rounded">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ho_ten)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.so_cmnd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.so_dien_thoai)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.gioi_tinh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vai_tro.ten)
                            </th>
                        </tr>
                    </thead>
                    @if (Model.Count() == 0)
                    {
                        <tr> <td colspan="5"> Records not found </td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr onclick="window.location.href = '/QLHome/EditNV/@Html.DisplayFor(modelItem => item.id)';">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ho_ten)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.so_cmnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.so_dien_thoai)
                                </td>
                                <td>
                                    @((bool)item.gioi_tinh ? "Nam":"Nữ")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vai_tro.ten)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>