@using QLBanVePhim.Models
@using PagedList.Mvc;
@model PagedList.PagedList<suat_chieu>

@{
    ViewBag.Title = "Quản lý suất chiếu";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}

<div class="settingLeft">
    <div class="card">
        <div class="card-body settingCardBody stickyCard">
            <center><h4><i class="fas fa-search" style="margin-right:10px"></i>Search</h4></center>
            @using (Html.BeginForm("QLSuatChieu", "QLHome", FormMethod.Get))
            {
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().id)
                    <input class="form-control" type="text" name="idSC">
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().phim.ten)
                    <input class="form-control" type="text" name="tenPhimSC">
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().dinh_dang_phim.ten)
                    @Html.DropDownList("ddphimSC", ViewBag.DDPhimList as SelectList, "----Chọn----", new { @class = "form-control" })
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().phong_chieu_id)
                    <input class="form-control" type="text" name="phongSC">
                </div>
                <div class="formSearchElement">
                    <center>
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search" style="margin-right:10px"></i>Search</button>
                        <button class="btn btn-info" type="reset"><i class="fas fa-undo" style="margin-right:10px"></i>Reset</button>
                    </center>
                </div>

            }
            <hr />
            <center><h4><i class="fas fa-tools" style="margin-right:10px"></i>Tools</h4></center>
            <center>
                <a href="/QLHome/AddSuatChieu" class="btn btn-success"><i class="fas fa-plus" style="margin-right:10px"></i>Thêm Suất Chiếu</a>
            </center>
        </div>
    </div>
</div>
<div class="settingRight">
    <div class="card">
        <div class="card-body settingCardBody">
            <div class="container">
                @if (Model.PageCount > 1)
                {
                    <div class="PagingTitle">
                        <div class="row" style="margin-bottom:-15px !important">
                            <div class="col-6 pageTitle">
                                <span style="vertical-align: middle;">
                                    @Html.PagedListPager(Model, page => Url.Action("QLSuatChieu",
                                            new { page = page, idSC = ViewBag.CurrId, tenPhimSC = ViewBag.CurrTenP, ddphimSC = ViewBag.CurrDDP, phongSC = ViewBag.CurrPC }),
                                            new PagedListRenderOptions
                                            {
                                                LiElementClasses = new string[] { "page-item" },
                                                DisplayLinkToIndividualPages = false,
                                                DisplayPageCountAndCurrentLocation = true,
                                                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                                PageCountAndCurrentLocationFormat = "Trang {0}/{1}"
                                            })
                                </span>
                            </div>
                            <div class="col-6">
                                <div style="float:right;">
                                    @Html.PagedListPager(Model, page => Url.Action("QLSuatChieu",
                                        new { page = page, idSC = ViewBag.CurrId, tenPhimSC = ViewBag.CurrTenP, ddphimSC = ViewBag.CurrDDP, phongSC = ViewBag.CurrPC }),
                                        new PagedListRenderOptions
                                        {
                                            LiElementClasses = new string[] { "page-item" },
                                            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                            DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                            DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                            DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                                            MaximumPageNumbersToDisplay = 5
                                        })
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <table class="table table-hover shadow p-3 mb-5 bg-white rounded">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().id)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().phim.ten)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().gio_bat_dau)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().gio_ket_thuc)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ngay_chieu)</th>
                            <th>Phòng Chiếu</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().dinh_dang_phim.ten)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr> <td colspan="4"> Records not found </td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr onclick="window.location.href = '/QLHome/EditSuatChieu/@Html.DisplayFor(modelItem => item.id)';">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.phim.ten)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.gio_bat_dau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.gio_ket_thuc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ngay_chieu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.phong_chieu.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dinh_dang_phim.ten)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>