@using QLBanVePhim.Models
@using PagedList.Mvc;
@model PagedList.PagedList<ve_ban>

@{
    ViewBag.Title = "Quản lý Vé";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}

<div class="settingLeft">
    <div class="card">
        <div class="card-body settingCardBody stickyCard">
            <center><h4><i class="fas fa-search" style="margin-right:10px"></i>Search</h4></center>
            @using (Html.BeginForm("QLVe", "QLHome", FormMethod.Get))
            {
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().id)
                    <input class="form-control" type="text" name="idVe" id="idVe">
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().trang_thai)
                    @Html.DropDownList("trangthaiVe", ViewBag.TrangThaiList as SelectList, "----Chọn----", new { @class = "form-control" })
                </div>

                <div class="formSearchElement">
                    <center>
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search" style="margin-right:10px"></i>Search</button>
                        <button class="btn btn-info" type="reset"><i class="fas fa-undo" style="margin-right:10px"></i>Reset</button>
                    </center>
                </div>

            }
            <hr />
            <center><h4><i class="fas fa-tools" style="margin-right:10px"></i>Tools</h4></center>
            <center>
                <a href="/QLHome/QLBatchVe" class="btn btn-success"><i class="fas fa-ticket-alt" style="margin-right:10px"></i>Quản Lý Lô Vé</a>
            </center>
        </div>
    </div>
</div>
<div class="settingRight">
    <div class="card">
        <div class="card-body settingCardBody">
            <div class="container">
                @if(Model.PageCount > 1) {
                <div class="PagingTitle">
                    <div class="row" style="margin-bottom:-15px !important">
                        <div class="col-6 pageTitle">
                            <span style="vertical-align: middle;">
                                @Html.PagedListPager(Model, page => Url.Action("QLVe",
                                        new { page = page, idVe = ViewBag.CurrId, trangthaiVe = ViewBag.CurrTT }),
                                        new PagedListRenderOptions
                                        {
                                            LiElementClasses = new string[] { "page-item" },
                                            DisplayLinkToIndividualPages = false,
                                            DisplayPageCountAndCurrentLocation = true,
                                            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                            DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                            DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                            PageCountAndCurrentLocationFormat = "Trang {0}/{1}"
                                        })
                            </span>
                        </div>
                        <div class="col-6">
                            <div style="float:right;">
                                @Html.PagedListPager(Model, page => Url.Action("QLVe",
                                    new { page = page, idVe = ViewBag.CurrId, trangthaiVe = ViewBag.CurrTT }),
                                    new PagedListRenderOptions
                                    {
                                        LiElementClasses = new string[] { "page-item" },
                                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                                        DisplayLinkToNextPage = PagedListDisplayMode.Never,
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                                        MaximumPageNumbersToDisplay = 5
                                    })
                            </div>
                        </div>
                    </div>
                </div>
                }
                <table class="table table-hover shadow p-3 mb-5 bg-white rounded">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().suat_chieu.id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().tong__tien)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().ghe_ngoi.id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().trang_thai)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr> <td colspan="5"> Records not found </td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                string color = "";
                                if (item.trang_thai == "Sold") { color = "#A2FFA1"; }
                                if (item.trang_thai == "Cancelled") { color = "#FFA9A9"; }

                                <tr bgcolor="@color" onclick="window.location.href = '/QLHome/DetailsVe/@Html.DisplayFor(modelItem => item.id)';">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.suat_chieu.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tong__tien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ghe_ngoi.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.trang_thai)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>