@model IEnumerable<QLBanVePhim.Models.ve_ban>
@{
    ViewBag.Title = "Quản lý Vé";
    Layout = "~/Views/Shared/ViewQLHome.cshtml";
}

<div class="settingLeft">
    <div class="card">
        <div class="card-body settingCardBody stickyCard">
            <center><h4><i class="fas fa-search" style="margin-right:10px"></i>Search</h4></center>
            @using (Html.BeginForm())
            {
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.id)
                    <input class="form-control" type="text" name="idVe">
                </div>
                <div class="formSearchElement">
                    @Html.DisplayNameFor(model => model.trang_thai)
                    @Html.DropDownList("trangthaiVe", ViewBag.TrangThaiList as SelectList, "----Chọn----", new { @class = "form-control" })
                </div>

                <div class="formSearchElement">
                    <center>
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search" style="margin-right:10px"></i>Search</button>
                        <button class="btn btn-info" type="reset"><i class="fas fa-undo" style="margin-right:10px"></i>Reset</button>
                    </center>
                </div>

            }
        </div>
    </div>
</div>
<div class="settingRight">
    <div class="card">
        <div class="card-body settingCardBody">
            <div class="container">
                <table class="table table-hover shadow p-3 mb-5 bg-white rounded">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.suat_chieu.id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.gia_ve.ten)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ghe_ngoi.id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.trang_thai)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr> <td colspan="5"> Records not found </td></tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr onclick="window.location.href = '/QLPhim/EditPhim/@Html.DisplayFor(modelItem => item.id)';">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.suat_chieu.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.gia_ve.ten)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ghe_ngoi.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.trang_thai)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>