@model IEnumerable<QLBanVePhim.Models.phim>

@{
    ViewBag.Title = "MovieList";
    Layout = "~/Views/Shared/SharedHomepage.cshtml";
}

<h1 style="color:aliceblue">Phim Đang Chiếu</h1>
<hr />

<style>
    .card{
        width:300px;
        max-height:auto;
        margin:20px;
        padding:10px;
        background-color:antiquewhite;
    }

    #movieList{
        margin:auto;
        width:80%;
    }

</style>

<div class="container-fluid" id="movieList">
    <div class="cardList" style="display:flex">

        @foreach (var item in Model)
        {
            if (item.da_xoa == false || item.da_xoa == null)
            {
                <div class="card">
                    <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.hinh_anh) alt="Card image cap" style="max-width:300px">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ten)</h5>
                        <p class="card-text">Thể loại: @Html.DisplayFor(modelItem => item.loai_phim.ten)</p>
                        <p class="card-text">Thời lượng: @Html.DisplayFor(modelItem => item.thoi_luong) </p>
                        <p class="card-text">Khởi chiếu: @item.ngay_cong_chieu.Value.ToShortDateString()</p>
                        @Html.ActionLink("Xem Thêm", "Details", new { id = item.id }, new { @class = "btn btn-info", @style="width:100%" })
                    </div>
                </div>
            }

        }
    </div>
</div>