@model QLBanVePhim.Models.khach_hang
@{
    ViewBag.Title = "ThanhVien";
    Layout = "~/Views/Shared/SharedHomepage.cshtml";
}

<style>
    h3 {
        color: #950740;
    }

    form {
        width: 100%;
        padding: 30px;
    }

    .main-form {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        background-color: white;
        width: 70%;
        margin:0 auto;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

        .footer button {
            padding: 5px;
            color: #950740;
            font-weight: 600;
            border: 1px solid #808080;
            background-color: transparent;
        }

    .coban {
        display: flex;
        justify-content: space-between;
    }

    .tichdiem {
        background-color: #dccece;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #808080;
        width: 300px;
    }
</style>
<div class="main-form">
    <form>
        <h3>Thông tin thành viên</h3>
        <div class="coban">
            <div>
                <label>Họ tên: @Html.DisplayFor(s => s.ho_ten)</label>  <br />
                <label>Giới tính:
                @if (Model.gioi_tinh == true)
                {
                    <label>Nam</label>
                }
                else
                {
                     <label>Nữ</label>
                }
                </label>   <br />
                <label>Ngày sinh:   @Html.DisplayFor(s => s.ngay_sinh)</label>  <br />
            </div>
            <div class="tichdiem">
                <div class="tichdiem-wrapper">
                    <label>Tổng số diểm tích lũy: </label>  <br />
                    <label>Loại thẻ thành viên:  </label>
                </div>
            </div>
        </div>
        <label>Địa chỉ: @Html.DisplayFor(s => s.dia_chi)</label>  <br />
        <label>Số CMND/CCCD:  @Html.DisplayFor(s => s.so_cmnd)</label>  <br />
        <label>Điện thoại:  @Html.DisplayFor(s => s.so_dien_thoai)</label>  <br />
        <label>Tên đăng nhập: </label>  <br />
        <div class="footer">
            <label>Email:  @Html.DisplayFor(s => s.email)</label>  <br />
            <button>Thay đổi thông tin</button>
        </div>
    </form>
</div>

