@model IEnumerable<QLBanVePhim.Models.loai_ghe>

<script>
    function toggle_edit_lg(id) {
        $(".toggle-lg-ten-" + id).toggle();
        $(".toggle-lg-pt-" + id).toggle();
        $(".toggle-lg-edit-" + id).toggle();
        $(".toggle-lg-btnEdit-" + id).toggle();
    }
</script>

<div class="settingTitle">
    <div class="row">
        <div class="col-9 settingTitleCol">
            <i class="fas fa-couch" style="margin-right:10px"></i>Loại Ghế
        </div>
        <div class="col-3">
            <button class="btn btn-secondary settingButtonCol disable"><i class="fas fa-lock"></i> Không thể thêm</button>
        </div>
    </div>
</div>
<table class="table table-hover shadow p-3 mb-5 bg-white rounded">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ten_ghe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phu_thu)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="table-LG">
        @if (Model.Count() == 0)
        {
            <tr> <td colspan="5"> Records not found </td></tr>
        }
        else
        {
            foreach (var item in Model)
            {
                @*<tr onclick="window.location.href = '/QLPhim/EditPhim/@Html.DisplayFor(modelItem => item.id)';">*@
                <tr class="settingTitleCol">
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td class="toggle-lg-ten-@Html.DisplayFor(modelItem => item.id)">
                        @Html.DisplayFor(modelItem => item.ten_ghe)
                    </td>
                    <td class="toggle-lg-pt-@Html.DisplayFor(modelItem => item.id)">
                        @Html.DisplayFor(modelItem => item.phu_thu)
                    </td>
                    <td class="toggle-lg-edit-@Html.DisplayFor(modelItem => item.id)">
                    </td>
                    @using (Html.BeginForm("Update_LG", "QLSetting", FormMethod.Post))
                    {
                        <td class="toggle-lg-ten-@Html.DisplayFor(modelItem => item.id)" style="display:none">
                            <input type="hidden" value="@item.id" name="idLG_edit" required />
                            <input type="text" value="@item.ten_ghe" name="tenLG_edit" class="form-control" required />
                        </td>
                        <td class="toggle-lg-pt-@Html.DisplayFor(modelItem => item.id)" style="display:none">
                            <input type="number" value="@item.phu_thu" name="phuthuLG_edit" class="form-control" required />
                        </td>
                        <td class="toggle-lg-edit-@Html.DisplayFor(modelItem => item.id)" style="display:none">
                            <button type="submit" id="btnSaveEdit" class="btn btn-success settingButtonCol"><i class="fas fa-save"></i> Lưu</button>
                        </td>
                    }
                    <td>
                        <button class="btn btn-primary settingButtonCol toggle-lg-btnEdit-@Html.DisplayFor(modelItem => item.id)" onclick="toggle_edit_lg('@Html.DisplayFor(modelItem => item.id)')"><i class="fas fa-edit"></i> Sửa</button>
                        <button class="btn btn-danger settingButtonCol toggle-lg-btnEdit-@Html.DisplayFor(modelItem => item.id)" onclick="toggle_edit_lg('@Html.DisplayFor(modelItem => item.id)')" style="display:none"><i class="fas fa-undo"></i> Hủy</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>